.form-container {
    position: relative;
    justify-content: center;
}

.form-container video {
    width: 100%
}

.form-container .container {
    position: absolute;
    column-gap: 50px;
    z-index: 1;
    top: 0;
}

.form-body {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.form-body .container {
    margin-top: 80px;
}

.form-body .signup-left {
    color: #fff ;
}

.form-sign-up {
    flex: 1;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    border-radius: 16px;
}




.form-sign-up__input {
    width: 100%;
}

.form-sign-up__input label {
    padding-top: 2px;
    width: 120px;
    font-size: 16px;
    color: #554e4e;
    margin-bottom: 5px;
}

.form-sign-up__input div {
    width: 100%;
    display: block;
    flex: 1;
    height: 50px;
}

.form-sign-up__input input {
    height: 36px;
    margin-bottom: 8px;
}

.form-sign-up .btn-signup {
    font-size: 20px;
    width: 100%;
    background-color: #fff;
    color:  #0dcaf0;
    border: 1px solid #0dcaf0 ;
    margin-top: 10px;

}

.form-sign-up .btn-signup:hover {
    background-color:  #0dcaf0;
    color: #fff;
}

.form-heading {
    text-align: center;
    margin-bottom: 40px;
    color: #333232;
}

.form-advert p{
    text-align: left;
    font-size: 18px;
    color: #272626;
}

.err-message {
    color: rgb(243, 77, 77);
    margin-bottom: 0;
}